// KiCAD files
*.bak
*-cache.*
*.kicad_pcb-bak

// C Files
*.o

// Python Files
*.pyc

// Project Folders
Pensel/firmware/compiler/build/*
Pensel/scripts/recordings/*
Pensel/documentation/Firmware\ Documentation/output/*

// Ignores specifically for GH-pages
Pensel/board/*
Pensel/firmware/*
Pensel/cubemx_project/*
